<h2 class='wishlist-search'>Find a user's wishlist</h2>
<form method='get' action='/wishlist/search' class='wishlist-search-form'>
  <input class='input-text' type='text' name='searchEmail' placeholder="Please enter an email">
  <button class='btn ml-2' type="submit">Search</button>
</form>

<section class='found-users'>

</section>