<!doctype html>
<html>
  <head>
    <title>Nifty</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/stylesheets/styles.css" type='text/css'>
    <script src='/javascripts/jquery-3.6.1.js'></script>
    <script src='/javascripts/application.js'></script>
    <script src='/javascripts/eventhandlerfunctions.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1 class='title'>Nifty</h1>
      <% if session[:message] %>
        <p class='flash message'><%= session.delete(:message) %></p>
      <% end %>
      <% if session[:error] %>
        <p class='flash error'><%= session.delete(:error) %></p>
      <% end %>
      <% if session[:token] %>
        <p>User: <%= session[:token][:email]%></p>
        <a href='/logout'>Logout</a>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>