<!doctype html>
<html>
  <head>
    <title>Nifty</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/stylesheets/styles.css" type='text/css'>
    <script src='/javascripts/jquery-3.6.1.js'></script>
    <script src='/javascripts/application.js'></script>
  </head>

  <body>
    <header>
      <h1 class='title'>Nifty</h1>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>