<!doctype html>
<html>
  <head>
    <title>Nifty</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="/stylesheets/styles.css" type='text/css'>
    <script src='/javascripts/jquery-3.6.1.js'></script>
    <script src='/javascripts/application.js'></script>
    <script src='/javascripts/eventhandlerfunctions.js'></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
    <a href='/' class='logo-link'><h1 class='title'>Nifty</h1></a>
      <% if session[:message] %>
        <p class='flash message'><%= session.delete(:message) %></p>
      <% end %>
      <% if session[:error] %>
        <p class='flash error'><%= session.delete(:error) %></p>
      <% end %>
      <div class='auth-user-section'>
      <% if session[:token] %>
        <p>User: <%= session[:token][:email]%></p>
        <aside>
        <a href='/wishlist' class='action-btn'>My Wishlist</a>
        <a href='/logout' class='action-btn'>Logout</a>
        </aside>
        <% else %>
         <p>User: Not Logged In</p>
        <aside>
        <a href='/login' class='action-btn'>Login</a>
        <a href='/signup' class='action-btn'>Register</a>
        </aside>
      <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>