<section class='form_container'>
  <form class='credential_form' method='post' action='/login'>
    <label for='email'>Email:</label>
    <input class='input-text' name='email' type='email'>
    <label for='password'>Password:</label>
    <input class='input-text' name='password' type='password'>
    <button class='btn mt-1' type='submit'>Login</button>
  </form>
</section>