<section class='form_container'>
  <form class='credential_form' method='post' action='/login'>
    <label for='username'>Username:</label>
    <input class='input-text' name='login-username' type='text'>
    <label for='password'>Password:</label>
    <input class='input-text' name='login-password' type='password'>
    <button class='btn mt-1' type='submit'>Login</button>
  </form>
</section>