<section class='form_container'>
  <form class='credential_form' method='post' action='/signup'>
    <label for='email'>Email:</label>
    <input class='input-text' name='email' type='email' value=<%= h(@email) %>>
    <label for='password'>Password:</label>
    <input class='input-text' name='password' type='password'>
    <button class='btn mt-1' type='submit'>Sign Up</button>
  </form>
</section>